[submodule "packages/onedark.vim"]
	path = packages/onedark.vim
	url = git@github.com:joshdick/onedark.vim
[submodule "packages/rust.vim"]
	path = packages/rust.vim
	url = git@github.com:rust-lang/rust.vim
[submodule "packages/haskell-vim"]
	path = packages/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim
[submodule "packages/vim-airline"]
	path = packages/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "packages/vim-better-whitespace"]
	path = packages/vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace
[submodule "packages/vim-elixir"]
	path = packages/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir
[submodule "packages/vim-fugitive"]
	path = packages/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "packages/vim-HiLinkTrace"]
	path = packages/vim-HiLinkTrace
	url = git@github.com:gerw/vim-HiLinkTrace
[submodule "packages/vim-pug"]
	path = packages/vim-pug
	url = git@github.com:digitaltoad/vim-pug
[submodule "packages/vim-sayonara"]
	path = packages/vim-sayonara
	url = git@github.com:mhinz/vim-sayonara
[submodule "packages/vim-stylus"]
	path = packages/vim-stylus
	url = git@github.com:wavded/vim-stylus
[submodule "packages/vim-surround"]
	path = packages/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "packages/vim-svelte"]
	path = packages/vim-svelte
	url = git@github.com:evanleck/vim-svelte
[submodule "packages/vim-vue"]
	path = packages/vim-vue
	url = git@github.com:posva/vim-vue
[submodule "packages/tagbar"]
	path = packages/tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "packages/ctrlsf.vim"]
	path = packages/ctrlsf.vim
	url = git@github.com:dyng/ctrlsf.vim
[submodule "packages/vim-session"]
	path = packages/vim-session
	url = git@github.com:xolox/vim-session
[submodule "packages/vim-misc"]
	path = packages/vim-misc
	url = git@github.com:xolox/vim-misc
[submodule "packages/vim-dirvish"]
	path = packages/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish
[submodule "packages/vim-eunuch"]
	path = packages/vim-eunuch
	url = git@github.com:tpope/vim-eunuch
[submodule "packages/vim-tmux-focus-events"]
	path = packages/vim-tmux-focus-events
	url = git@github.com:tmux-plugins/vim-tmux-focus-events
[submodule "packages/tcomment"]
	path = packages/tcomment
	url = git@github.com:tomtom/tcomment_vim
[submodule "packages/vim-vp4"]
	path = packages/vim-vp4
	url = git@github.com:ngemily/vim-vp4
[submodule "packages/vim-wordmotion"]
	path = packages/vim-wordmotion
	url = git@github.com:chaoren/vim-wordmotion
[submodule "packages/coc"]
	path = packages/coc
	url = git@github.com:neoclide/coc.nvim
